// GENERAL STYLES

body {
  background-color: hsl(207, 26%, 17%);
  font-family: "Nunito Sans", sans-serif;
}

.mx-6 {
  margin-left: 65px;
  margin-right: 65px;
}

.mb-6 {
  margin-bottom: 65px;
}

.ms-6 {
  margin-left: 65px;
}

// STYLES TO HEADER
  .page-title {
    color: hsl(0, 0%, 100%);
    font-size: 25px;
    font-weight: 600;
    margin: 10px 0;
  }
  
  .top-bar {
    background-color: hsl(209, 23%, 22%);
    box-shadow: 0px 0px 1.5px 1.5px hsl(210, 26%, 14%);
  }
  
  .theme-mode {
    color: hsl(0, 0%, 100%);
    font-size: 15px;
    font-weight: 600;
    margin-right: 3.75rem;
    
    .theme-p {
      margin: 0 0 0 5px;
      display: inline;
    }
  }

// STYLES TO FILTERS

.country-filter {
  .country-input {
    color: white;
    .magnifying-icon {
      background-color: hsl(209, 23%, 22%);
      height: 45px;
      padding: 15px 0 0 10px;
      vertical-align: bottom;
      width: 45px;
    }

    .country-selector {
      background-color: hsl(209, 23%, 22%);
      border-style: none;
      color: white;
      height: 45px;
      margin-left: -4px;
      width: 50%;

      &:focus {
        outline: none;
      }

      &::placeholder {
        color: white;
      }
    }
  }

  .dropdown-button {
    background-color: hsl(209, 23%, 22%);
    border-style: none;
    padding-right: 30px;
    max-width: 160px;
  }

  .dropdown-arrow {
    background-color: hsl(209, 23%, 22%);
    border-style: none;
    max-width: 40px;
  }

  .regions-list {
    border-radius: 7px;
    background-color: hsl(209, 23%, 22%);
    inset: 0 auto auto 0;
    margin-top: 5px;
    transform: translate(135px, 47px);

    .region-item {
      .region-anchor {
        color: white;

        &:hover {
          color: black;
        }
      }
    }

    .region-top {
      border-top-left-radius: 7px;
      border-top-right-radius: 7px;
    }

    .region-bottom {
      border-bottom-left-radius: 7px;
      border-bottom-right-radius: 7px;
    }
  }
}

// STYLES TO COUNTRY BOXES

.countryBox {
  background-color: hsl(209, 23%, 22%);
  border-radius: 7px;
  height: 450px;

  .flag-div {
    height: 250px;
    width: 100%;

    .flag-img {
      border-top-left-radius: 7px;
      border-top-right-radius: 7px;
      height: 100%;
      width: 100%;
    }
  }
}

.data-div,
.single-country-information {
  margin-left: 30px;
  margin-top: 30px;
  color: hsl(0, 0%, 100%);

  .country-name {
    font-size: 22px;
    font-weight: 800;
    margin-bottom: 15px;
  }

  .country-data {
    font-size: 17px;
  }
}

// STYLES TO SINGLE COUNTRY PAGE

.back-button {
  background-color: hsl(209, 23%, 22%);
  border-style: none;
  box-shadow: 0px 0px 1.5px 1.5px hsl(210, 26%, 14%);
  color: white;
  padding-right: 30px;
  max-width: 160px; 
  
  .left-arrow-icon {
    padding-left: 5px;
    padding-right: 5px;
  }
}

.country-flag {
  width: 600px;
  height: 500px;
}

.single-country-information {
  .country-name {
    font-size: 30px;
  }
}