// GENERAL STYLES

body {
  font-family: "Nunito Sans", sans-serif;
}

.mx-6 {
  margin-left: 65px;
  margin-right: 65px;
}

.mb-6 {
  margin-bottom: 65px;
}

.ms-6 {
  margin-left: 65px;
}

.me-6 {
  margin-right: 65px;
}

// STYLES TO HEADER
.page-title {
  display: block;
  font-size: 25px;
  font-weight: 600;
  margin: 10px 0;

  &:hover {
    color: hsl(0, 0%, 100%);
  }
}

.theme-mode {
  font-size: 15px;
  font-weight: 600;
  margin-right: 3.75rem;

  .theme-p {
    margin: 0 0 0 5px;
    display: inline;
  }

  .theme-mode-item {
    background-color: inherit;
    border: none;
  }
}

// STYLES TO FILTERS

.country-filter {
  .country-input {
    .magnifying-icon {
      height: 45px;
      width: 30px;
      vertical-align: bottom;

      &::before {
        left: 5px;
        position: relative;
        top: 13px;
      }
    }

    .country-selector {
      border-style: none;
      height: 45px;
      margin-left: -4px;
      width: 87%;

      &:focus {
        outline: none;
      }
    }

    .inputBtn {
      height: 45px;
      border-style: none;
    }

    &:focus {
      background-color: hsl(209, 23%, 22%);
    }
  }

  .dropdown-button {
    border-style: none;
    padding-right: 30px;
    max-width: 160px;
  }

  .dropdown-arrow {
    border-style: none;
    max-width: 40px;
  }

  .regions-list {
    border-radius: 7px;
    inset: 0 auto auto 0;
    margin-top: 5px;
    transform: translate(135px, 47px);

    .region-top {
      border-top-left-radius: 7px;
      border-top-right-radius: 7px;
    }

    .region-bottom {
      border-bottom-left-radius: 7px;
      border-bottom-right-radius: 7px;
    }
  }
}

// STYLES TO COUNTRY BOXES

.countryBox {
  border-radius: 7px;
  text-decoration: none;

  .flag-div {
    height: 250px;
    width: 100%;

    .flag-img {
      border-top-left-radius: 7px;
      border-top-right-radius: 7px;
      height: 100%;
      width: 100%;
    }
  }
}

.data-div,
.single-country-information {
  margin-bottom: 30px;
  margin-left: 30px;
  margin-top: 30px;

  .country-name {
    font-size: 22px;
    font-weight: 800;
    margin-bottom: 15px;
  }

  .country-data {
    font-size: 17px;
  }
}

// STYLES TO SINGLE COUNTRY PAGE

.back-button {
  border-style: none;
  padding-right: 30px;
  max-width: 160px;

  .left-arrow-icon {
    padding-left: 5px;
    padding-right: 5px;
  }
}

.single-country-flag {
  padding-right: 100px;

  .country-flag {
    width: 100%;
    height: 100%;
  }
}

.single-country-information {
  .country-name {
    font-size: 30px;
  }

  .single-data {
    font-weight: 600;
  }
}

.borders-section {
  margin-top: 100px;
}

.border-country {
  background-color: hsl(209, 23%, 22%);
  border-style: none;
  box-shadow: 0px 0px 1.5px 1.5px hsl(210, 26%, 14%);
  color: white;
  padding-right: 30px;
  margin-right: 10px;
  max-width: 160px;
  text-align: center;
}

// Themes styles

.dark-theme {
  background-color: hsl(207, 26%, 17%);

  .page-title {
    color: hsl(0, 0%, 100%);
  }

  .theme-mode {
    color: hsl(0, 0%, 100%);

    .theme-mode-item {
      color: hsl(0, 0%, 100%);
    }
  }

  .top-bar {
    background-color: hsl(209, 23%, 22%);
    box-shadow: 0px 0px 1.5px 1.5px hsl(210, 26%, 14%);
  }

  .country-filter {
    .country-input {
      color: white;
      .magnifying-icon {
        background-color: hsl(209, 23%, 22%);
      }

      .inputBtn {
        background-color: hsl(209, 23%, 22%);
        color: white;
      }

      .country-selector {
        background-color: hsl(209, 23%, 22%);
        color: white;

        &::placeholder {
          color: white;
        }
      }
    }

    .dropdown-button {
      background-color: hsl(209, 23%, 22%);
    }

    .dropdown-arrow {
      background-color: hsl(209, 23%, 22%);
    }

    .regions-list {
      background-color: hsl(209, 23%, 22%);

      .region-item {
        .region-anchor {
          color: white;

          &:hover {
            color: black;
          }
        }
      }
    }
  }

  .countryBox {
    background-color: hsl(209, 23%, 22%);
  }

  .data-div,
  .single-country-information {
    color: hsl(0, 0%, 100%)
  }

  .back-button {
    background-color: hsl(209, 23%, 22%);
    box-shadow: 0px 0px 1.5px 1.5px hsl(210, 26%, 14%);
    color: white;
  }

  .border-country {
    background-color: hsl(209, 23%, 22%);
    box-shadow: 0px 0px 1.5px 1.5px hsl(210, 26%, 14%);
    color: white;
  }
}

.light-theme {
  background-color: hsl(0, 0%, 98%);

  .page-title {
    color: hsl(200, 15%, 8%);
    font-weight: 700;
  }

  .theme-mode {
    color: hsl(200, 15%, 8%);

    .theme-mode-item {
      color: hsl(200, 15%, 8%);
    }
  }

  .top-bar {
    background-color: hsl(0, 0%, 100%);
    box-shadow: 0px 0px 3px 3px #eddcdc;
  }

  .country-filter {
    .country-input {
      color: hsl(200, 15%, 8%);
      box-shadow: 1px 1px 3px 3px #eddcdc;

      .magnifying-icon {
        background-color: hsl(0, 0%, 100%);
      }

      .inputBtn {
        background-color: hsl(0, 0%, 100%);
        color: hsl(200, 15%, 8%);
      }

      .country-selector {
        background-color: hsl(0, 0%, 100%);
        color: hsl(200, 15%, 8%);

        &::placeholder {
          color: hsl(200, 15%, 8%);
        }
      }
    }

    .dropdown-button {
      background-color: hsl(0, 0%, 100%);
      color: hsl(200, 15%, 8%);

      &::after {
        color: hsl(200, 15%, 8%);
      }
    }

    .regions-list {
      background-color: hsl(0, 0%, 100%);

      .region-item {
        .region-anchor {
          color: hsl(200, 15%, 8%);

          &:hover {
            color: black;
          }
        }
      }
    }
  }

  .countryBox {
    background-color: hsl(0, 0%, 100%);
    box-shadow: 1px 1px 3px 3px #eddcdc;
  }

  .data-div,
  .single-country-information {
    color: hsl(200, 15%, 8%);
  }

  .back-button {
    background-color: hsl(0, 0%, 100%);
    box-shadow: 1px 1px 3px 3px #eddcdc;
    color: hsl(200, 15%, 8%);
  }

  .border-country {
    background-color: hsl(0, 0%, 100%);
    box-shadow: 1px 1px 3px 3px #eddcdc;
    color: hsl(200, 15%, 8%);
  }
}
