<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>Challange</title>
  <meta charset="utf-8">

  <!-- Bootstrap -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

  <!-- Css -->
  <link rel="stylesheet" href="/css/styles.css">

  <!-- Fonts -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;600;800&display=swap" rel="stylesheet">
  
  <!-- Font Awesome -->
  <script src="https://kit.fontawesome.com/32664cb300.js" crossorigin="anonymous"></script>

  <body>
    <div>
      <nav class="navbar navbar-default top-bar mb-5 p-0">
        <div class="container-fluid">
          <div class="navbar-header">
            <a class="navbar-brand page-title ms-5" href="/">Where in the world?</a>
          </div>
            <ul class="nav navbar-nav navbar-right theme-mode">
              <li class="theme-mode-item"><i class="fas fa-moon"></i><p class="theme-p">Dark Mode</p></li>
            </ul>
        </div>
      </nav>