<%- include("partials/header"); -%>

<div class="container-fluid mb-5 p-0">
    <button type="button" class="mx-6 btn btn-secondary back-button"><i class="fas fa-long-arrow-alt-left left-arrow-icon"></i> Back</button>
</div>

<div class="container-fluid mb-5 p-0">
    <img class="mx-6 country-flag" src=" <%= country.flag %> " />
</div>


<%- include("partials/footer"); -%>
