.filter-container {
  input[type="text"] {
    background-color: $light-blue;
    border: none;
    border-radius: 5px;
    color: $white;
    display: inline-block;
    flex: 0 0 auto;
    height: 50px;
    padding-left: 7px;
    width: 88%;

    &::placeholder {
      color: $white;
    }

    &:focus {
      outline: none;
    }
  }

  .filter-row {
    padding-left: 12px;
  }

  .filter-input {
    background-color: $light-blue;
    border-radius: 5px;
    height: 50px;
    padding: 0;
  }

  .region-filter {
    @media (max-width: 768px) {
      margin-top: 20px;
      padding: 0;
    }

    .regions {
      background-color: $light-blue;
      border: none;
      border-radius: 5px;
      color: $white;
      font-size: 14px;
      font-weight: 300;
      height: 50px;

      @media (min-width: 768px) {
        float: right;
      }

      &:focus {
        outline: none;
      }
    }
  }

  .applied-shadow {
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
  }

  a {
    border-radius: 5px;

    &.back-button {
      background-color: $light-blue;
    }
  }

  .magnifying-icon {
    background-color: $light-blue;
    color: $white;
    flex: 0 0 auto;
    padding: 0;
    width: 20px;
  }
}

.light {
  .filter-container {
    input[type="text"] {
      background-color: $white;
      color: $dark-black;

      &::placeholder {
        color: $dark-black;
      }
    }

    .back-button {
      background-color: $white;
      color: $dark-black;
    }

    .filter-input {
      background-color: $white;
    }

    .regions {
      background-color: $white;
      color: $dark-black;
    }

    .magnifying-icon {
      background-color: $white;
      color: $dark-black;
    }
  }
}
