.countries-row {
    margin: 0;
}

.single-country-list-container {
    list-style: none;
    
    .country-list-card {
        background-color: $light-blue;
        border-radius: 5px;
        min-height: 400px;
        
        .all-countries-flag {
            border-top-left-radius: 5px;
            border-top-right-radius: 5px;
            max-height: 200px;
            min-height: 200px;
            width: -webkit-fill-available;
        }
        
        .all-countries-name {
            font-size: 17px;
            font-weight: 600;
        }
        
        .all-countries-data {
            font-size: 13px;
            font-weight: 200;
        }
        
        .country-link {
            color: $white;
            text-decoration: none;
        }
    }

}