.countries-row {
    margin: 0;
}

.single-country-list-container {
    list-style: none;
    
    .country-list-card {
        background-color: $light-blue;
        border-radius: 5px;
        min-height: 400px;
        
        .all-countries-flag {
            border-top-left-radius: 5px;
            border-top-right-radius: 5px;
            max-height: 200px;
            min-height: 200px;
            width: -webkit-fill-available;
        }
        
        .all-countries-name {
            font-size: 17px;
            font-weight: 600;
        }
        
        .all-countries-data {
            font-size: 13px;
            font-weight: 200;
        }
        
        .country-link {
            color: $white;
            text-decoration: none;
        }
    }

    .applied-shadow {
        box-shadow: 0 0 4px 4px rgba(0, 0, 0, 0.26);
    }

}

.not-found {
    color: $white;
    text-align: center;
    font-size: 48px;
}

.light {
    .single-country-list-container {
        .country-list-card {
            background-color: $white;
        }

        .country-link {
            color: $dark-black;
        }

        .all-countries-flag {
            border-bottom: solid black;
        }
    }

    .applied-shadow {
        box-shadow: 0 0 4px 4px rgba(0, 0, 0, 0.26);
    }

    .not-found {
        color: $dark-black;
    }
}